{% extends '../partials/base-layout.html' %}
{% block title %}ورود - {{ sitename }}{% endblock %}
{% block body %}
    {% load crispy_forms_tags %}
    <div class="pt-3">
        <div class="card p-4 ms-auto me-auto row" style="max-width: 600px">
            <h3>ورود به حساب</h3>
            <hr>
            <form action="{% url 'account:login' %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">ورود</button>
            </form>
        </div>

    </div>
{% endblock %}
